<a href="https://colab.research.google.com/github/alberths-mx/About-me/blob/main/_INDICE_CRITICO_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Introducción
Mostramos una manera de descargar archivos en formato .csv del sistema * abiertos de la CDMX, desde línea de comando de Google Colab y convertirlo en un dataframe.

In [1]:
!wget https://datos.cdmx.gob.mx/dataset/77641315-2613-4264-b534-0b4ed93fe6fd/resource/91e26301-c391-4df4-9478-1bc42a6ec9f9/download/censo_c_discapacidad.csv

--2023-12-05 05:44:09--  https://datos.cdmx.gob.mx/dataset/77641315-2613-4264-b534-0b4ed93fe6fd/resource/91e26301-c391-4df4-9478-1bc42a6ec9f9/download/censo_c_discapacidad.csv
Resolving datos.cdmx.gob.mx (datos.cdmx.gob.mx)... 45.60.240.232
Connecting to datos.cdmx.gob.mx (datos.cdmx.gob.mx)|45.60.240.232|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 6517 (6.4K) [application/octet-stream]
Saving to: ‘censo_c_discapacidad.csv’

censo_c_discapacida 100%[===================>]   6.36K  --.-KB/s    in 0s

2023-12-05 05:44:10 (46.6 MB/s) - ‘censo_c_discapacidad.csv’ saved [6517/6517]

In [2]:
import pandas
df = pandas.read_csv("/content/censo_c_discapacidad.csv")

In [3]:
df

,alcaldia,pob_tot,pob_disc,pob_disc_mot,pob_disc_vis,pob_disc_len,pob_disc_aud,pob_disc_mot2,pob_disc_men,pob_lim,...,t_pob_disc_mot2,t_pob_disc_men,t_pob_lim,t_pob_lim_mot,t_pob_lim_vis,t_pob_lim_len,t_pob_lim_aud,t_pob_lim_mot2,t_pob_lim_rec,t_pob_lim_men
0,AZCAPOTZALCO,432205,24000,12346,9965,2886,5823,4220,4051,56564,...,0.976389,0.937287,13.087308,4.440485,8.331926,0.661029,3.162388,0.675605,2.652214,1.471061
1,COYOACAN,614447,34446,17427,13897,4106,8413,6310,6613,76689,...,1.026940,1.076252,12.480979,4.276528,7.596099,0.615513,3.131108,0.639437,2.646770,1.807153
2,CUAJIMALPA DE MORELOS,217686,7684,3416,3565,1068,1729,1448,1362,18693,...,0.665178,0.625672,8.587139,2.545869,5.541009,0.491074,1.879312,0.417115,1.586230,1.109396
3,GUSTAVO A. MADERO,1173351,68712,35394,28584,8300,16154,11935,11974,147274,...,1.017172,1.020496,12.551572,4.334679,7.893887,0.706694,2.977626,0.676865,2.590614,1.582817
4,IZTACALCO,404695,24447,12464,10229,2753,5788,4088,4067,54311,...,1.010143,1.004954,13.420230,4.607420,8.328741,0.658274,3.172018,0.622691,2.788767,1.594534
5,IZTAPALAPA,1835486,104424,49556,47193,12640,23207,16076,17049,233756,...,0.875844,0.928855,12.735374,3.976549,8.500691,0.655576,2.715139,0.584259,2.403342,1.595272
6,LA MAGDALENA CONTRERAS,247622,13859,6746,6073,1641,3110,2272,2307,33389,...,0.917528,0.931662,13.483858,4.338064,8.680570,0.698646,2.865254,0.587589,2.808717,1.555597
7,MILPA ALTA,152685,7725,3470,3318,1082,1915,1252,1378,19860,...,0.819989,0.902512,13.007172,3.819629,8.467760,0.709958,2.771065,0.579625,2.814946,1.362937
8,ALVARO OBREGON,759137,38175,19167,15942,4925,9157,6653,6972,87395,...,0.876390,0.918411,11.512415,3.757951,7.338860,0.630716,2.604010,0.586851,2.268892,1.496173
9,TLAHUAC,392313,20931,9736,9446,2617,4404,3193,3465,46854,...,0.813891,0.883223,11.943015,3.782694,7.846031,0.634952,2.474555,0.545483,2.300204,1.530411
10,TLALPAN,699928,35488,17195,14808,4420,8071,6058,6483,86112,...,0.865518,0.926238,12.302980,3.946263,7.698078,0.624779,2.758712,0.564772,2.595124,1.710462
11,XOCHIMILCO,442178,23115,10703,10431,2792,5325,3641,3785,58091,...,0.823424,0.855990,13.137470,3.912225,8.777235,0.645668,2.778971,0.522640,2.376871,1.598225
12,BENITO JUAREZ,434153,18216,9556,7047,2177,4490,3786,3560,50356,...,0.872043,0.819987,11.598676,3.679348,7.038993,0.497290,2.873411,0.602092,2.380037,1.680283
13,CUAUHTEMOC,545884,29124,14695,12686,3260,6536,4680,4657,68992,...,0.857325,0.853112,12.638583,4.073942,8.220428,0.641895,2.820013,0.639147,2.457482,1.661342
14,MIGUEL HIDALGO,414470,17769,9348,7184,2276,4260,3504,3235,46381,...,0.845417,0.780515,11.190436,3.635245,7.094844,0.573745,2.647236,0.637199,2.173619,1.309624
15,VENUSTIANO CARRANZA,443704,25474,13187,10532,3036,6030,4200,4294,56501,...,0.946577,0.967762,12.733940,4.296783,8.109686,0.640066,2.941826,0.638489,2.492427,1.604448

In [4]:
df.columns

Index(['alcaldia', 'pob_tot', 'pob_disc', 'pob_disc_mot', 'pob_disc_vis',
       'pob_disc_len', 'pob_disc_aud', 'pob_disc_mot2', 'pob_disc_men',
       'pob_lim', 'pob_lim_mot', 'pob_lim_vis', 'pob_lim_len', 'pob_lim_aud',
       'pob_lim_mot2', 'pob_lim_rec', 'pob_lim_men', 't_pob_disc',
       't_pob_disc_mot', 't_pob_disc_vis', 't_pob_disc_len', 't_pob_disc_aud',
       't_pob_disc_mot2', 't_pob_disc_men', 't_pob_lim', 't_pob_lim_mot',
       't_pob_lim_vis', 't_pob_lim_len', 't_pob_lim_aud', 't_pob_lim_mot2',
       't_pob_lim_rec', 't_pob_lim_men'],
      dtype='object')

In [18]:
alcaldia = df["alcaldia"]
alcaldia

0               AZCAPOTZALCO
1                   COYOACAN
2      CUAJIMALPA DE MORELOS
3          GUSTAVO A. MADERO
4                  IZTACALCO
5                 IZTAPALAPA
6     LA MAGDALENA CONTRERAS
7                 MILPA ALTA
8             ALVARO OBREGON
9                    TLAHUAC
10                   TLALPAN
11                XOCHIMILCO
12             BENITO JUAREZ
13                CUAUHTEMOC
14            MIGUEL HIDALGO
15       VENUSTIANO CARRANZA
Name: alcaldia, dtype: object

In [19]:
alcaldias = list(set(alcaldia))
alcaldia

0               AZCAPOTZALCO
1                   COYOACAN
2      CUAJIMALPA DE MORELOS
3          GUSTAVO A. MADERO
4                  IZTACALCO
5                 IZTAPALAPA
6     LA MAGDALENA CONTRERAS
7                 MILPA ALTA
8             ALVARO OBREGON
9                    TLAHUAC
10                   TLALPAN
11                XOCHIMILCO
12             BENITO JUAREZ
13                CUAUHTEMOC
14            MIGUEL HIDALGO
15       VENUSTIANO CARRANZA
Name: alcaldia, dtype: object

In [20]:
len(alcaldia)

16

In [22]:
filtro = [
        'LA MAGDALENA CONTRERAS',

]

In [23]:
alcaldia_df = df[df["alcaldia"].isin(filtro)]
alcaldia_df

,alcaldia,pob_tot,pob_disc,pob_disc_mot,pob_disc_vis,pob_disc_len,pob_disc_aud,pob_disc_mot2,pob_disc_men,pob_lim,...,t_pob_disc_mot2,t_pob_disc_men,t_pob_lim,t_pob_lim_mot,t_pob_lim_vis,t_pob_lim_len,t_pob_lim_aud,t_pob_lim_mot2,t_pob_lim_rec,t_pob_lim_men
6,LA MAGDALENA CONTRERAS,247622,13859,6746,6073,1641,3110,2272,2307,33389,...,0.917528,0.931662,13.483858,4.338064,8.68057,0.698646,2.865254,0.587589,2.808717,1.555597